@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
:root {
  --Dark: #2b2d42;
  --DarkBlue: #03045e;
  --CTA: #00aeff;
  --Light: #f6fff8;
}
.cta {
  color: white;
  border: 2px solid var(--CTA);
  background-color: var(--CTA);
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  transition: all ease 300ms;
}
.cta:hover {
  color: var(--CTA);
  border: 2px solid var(--CTA);
  background-color: transparent;
}
p {
}

.test {
  width: fit-content;
}

.Card {
  min-height: 400px;
  background-color: #90e1ef;
  border-radius: 10px;
  padding: 10px 10px;
  border: transparent solid 3px;
  transition: all 150ms ease-in-out;
}
.Card ul {
  list-style: none;
}
.Card:hover {
  background-color: #90e1ef2f;
  border: #90e1ef solid 3px;
}
.Card ul li p {
  color: white;
}

.user_prof {
  height: 218px;
  width: 218px;
}

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
.loader-CTA svg path,
.loader-CTA svg rect {
  fill: var(--CTA);
}
.loader-WHITE svg path,
.loader-WHITE svg rect {
  fill: var(--Light);
}
